streamlit
pypdf2
langchain
openai
youtube-transcript-api
embedchain[youtube]
pytube
langgraph
langgraph-checkpoint-sqlite
langchain-community 
pymupdf
langchain_openai
openai==1.35.3
PyPDF2==3.0.1
streamlit==1.40.1
tenacity==8.5.0
plotly==5.24.1
markdown-pdf